In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
full_df = pd.read_csv('full-index.csv')

In [27]:
counts = full_df.annotation.value_counts()
counts

annotation
AA      85273
CA      12658
ISO     12518
R       11893
SC      10898
        ...
OULA        2
PEC         2
MIL         1
J           1
TA          1
Name: count, Length: 79, dtype: int64

In [32]:
full_df["year"] = full_df["filepath"].str[:4]
full_df

,filepath,annotation,timestamp,height,width,year
0,2016 (INCOMPLETE)/TRANSECT/IMAGE AND CPCE FILE...,AA,20160419_094715,500,500,2016
1,2016 (INCOMPLETE)/TRANSECT/IMAGE AND CPCE FILE...,RCK,20160419_094715,500,500,2016
2,2016 (INCOMPLETE)/TRANSECT/IMAGE AND CPCE FILE...,ISO,20160419_094715,500,500,2016
3,2016 (INCOMPLETE)/TRANSECT/IMAGE AND CPCE FILE...,RCK,20160419_094715,500,500,2016
4,2016 (INCOMPLETE)/TRANSECT/IMAGE AND CPCE FILE...,ISO,20160419_094715,500,500,2016
...,...,...,...,...,...,...
222840,2021 (COMPLETE)/QUADRAT/IMAGE AND CPCE FILE/SH...,R,20210526_094632,500,500,2021
222841,2021 (COMPLETE)/QUADRAT/IMAGE AND CPCE FILE/SH...,SP,20210526_094632,500,500,2021
222842,2021 (COMPLETE)/QUADRAT/IMAGE AND CPCE FILE/SH...,R,20210526_094632,500,500,2021
222843,2021 (COMPLETE)/QUADRAT/IMAGE AND CPCE FILE/SH...,OT,20210526_094632,500,500,2021
222844,2021 (COMPLETE)/QUADRAT/IMAGE AND CPCE FILE/SH...,AA,20210526_094632,500,500,2021

In [33]:
full_df["year"].value_counts()

year
2024    31800
2021    30500
2009    28715
2019    26800
2016    25000
2020    23490
2011    22810
2010    19440
2018    13390
2022      900
Name: count, dtype: int64

In [72]:
counts_per_year = full_df.groupby(["year"]).annotation.value_counts()
counts_per_year = counts_per_year.reset_index().pivot_table(
    values='count', index='annotation', columns='year').fillna(0).astype(pd.Int64Dtype())

In [ ]:
counts_per_year

year         2009  2010  2011  2016  2018   2019  2020   2021  2022   2024
annotation
AA          16486  4034  5317  3604  6258  10342  6913  14201   631  17487
ACAN            0     1     1     0     6      9     4     15     1     16
ACB           887   604   300  1008    44    347   415    398     0     81
ACC           205   380   106   341    88    206   114    289     6    247
ACD            34    21    14    33    28     29    30     59     0     58
...           ...   ...   ...   ...   ...    ...   ...    ...   ...    ...
TUBI            0     0     0     0     0      2     1      0     0      0
TURB            0     0     3     1     7      7     1      0     0      7
TWB           550    15    38    59   792    940  1681   1353    24    514
UND             0    22     0     0     0      0     0      0     0      0
ZO             48    10     4     0    20     25    23     28     1      1

[79 rows x 10 columns]

In [74]:
counts_per_year.to_csv('full-counts-per-year.csv')